<docure-banner
  imagesrc="https://www.ebu.ch/files/live/sites/ebu/files/Trainings/Academy/Courses/2015/IMG/changing%20workflows%20for%20multiplatform%20newsrooms.png">
  <docure-banner-title text="Workflows creation"></docure-banner-title>
  <docure-banner-content>Create workflows related to every problem you encounter and share it with the world!
  </docure-banner-content>
  <docure-banner-actions>
    <docure-button (click)="goToWorkflow()">Create your workflow now</docure-button>
  </docure-banner-actions>
</docure-banner>